@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #08071e;
    --background: #16284d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--page-background);
  font-family: Arial, Helvetica, sans-serif;
}
